.menuContainer {
    width: 100%;
    height: auto;
   
}

.menuTitle {
    font-size: 2rem;
    font-weight: 700;
}

.titleLine {
    width: 5rem;
    height: 0.25rem;
    background: chocolate;
    margin-left: auto;
    margin-right: auto;
}

.menuBtn {
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
}

.btncategory {
    outline: none;
    border:none;
    margin: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px 0.5;
    background-color: transparent;
    color:chocolate;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 5px;
}

.btncategory:hover,
.btncategory.active {
  background: greenyellow;
  color:crimson;
  padding: 0px 7px;
}